<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Medvision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">med<span id = "hello">vision</span></a></div>
            <ul class="menu">
                <li><a href="#option1" class="menu-btn">option1</a></li>
                <li><a href="#option2" class="menu-btn">option2</a></li>
                <li><a href="#option3" class="menu-btn">option3</a></li>
            </ul>
        </div>
    </nav>

    <section class="paddings" id="paddings"></section>
    <section class="panels" id="panels">
        <div class="max-width">
            <div class = "card-container">
                <div class = "info">
                    <form action="/" method="post" enctype="multipart/form-data">
                        <input type="file" name="uploaded-file" accept=".jpg">
                        <input type="submit" value="Upload">
                    </form>
                </div>
                <div class = "desc">
                    <img src="{{ user_image }}" alt="uploaded image" width="500" height="400">
                    <form action="/predict" target="_blank">
                        <input type="submit" value="Detect" />
                    </form>
                </div>
            </div>
    </section>

  </body>
</html>